{% comment %}
  Unified skills entry renderer for both formats
{% endcomment %}

  {% for entry in entries %}
    <ul class="card-text font-weight-light list-group list-group-flush" style="list-style-type: none; margin-bottom: 1rem;">
      <li class="list-group-item" style="list-style-type: none;">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="ml-1 ml-md-4">
              {% if entry.icon %}
                <i class="{{ entry.icon }}"></i>
              {% endif %}
              <strong>
                {{- entry.name -}}
                {%- if entry.level %} ({{ entry.level }}){% endif %}:</strong
              >
              {% if entry.keywords %}
                {% for keyword in entry.keywords %}
                  {% if forloop.last %}
                    {{ keyword }}
                  {% else %}
                    {{ keyword }},
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </li>
    </ul>
  {% endfor %}

<style>
  .skill-item {
    padding: 0.5rem 0;
  }
</style>
